#main{
}

.not-mobile{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}
.spring-qrcode{
    flex: 1;
    max-height: 100px;
}

.spring-qrcode img{
    display: block;
    max-height: 100px;
}
@media (min-width: 0) and (max-width: 767px){
    .not-mobile{
        display: none!important;
    }
}
.not-mobile .logo{
    width: 320px;
    display: block;
    margin-right: 30px;
}
