#main{
}

.not-mobile{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}
.spring-qrcode{
    max-height: 100px;
}

.spring-qrcode img{
    display: block;
    max-height: 100px;
}

.not-mobile .logo{
    width: 320px;
    display: block;
    margin-right: 30px;
}
.spring-qrcode-mobile{
    display: none;
}

@media (min-width: 0) and (max-width: 767px){
    .not-mobile{
        display: none!important;
    }
    .spring-qrcode-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .spring-qrcode-mobile img{
        width: 100%;
    }
}

#side-left a:first-child{
    color: #2693ff;
    animation: shake 0.1s infinite;
    animation-fill-mode: both;
}

#side-left a:first-child:hover{
    color: #6db33f;
}

#side-left.is-open a:first-child{
    color: #ffffff;
}

@keyframes shake {
    0% {
       transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 0.1rem);
    }
    100% {
        transform: translate(0, 0px);
    }
}

