#main{
}

.not-mobile{
    display: flex!important;
    align-items: center;
    justify-content: space-between;
}
.spring-qrcode{
    height: 100px;
    margin-left: 30px;
}

.spring-qrcode img{
    display: block;
    height: 100px;
}

.not-mobile .logo{
    width: 320px;
    display: block;
}
